* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 53, 82, 1) 0%,
    rgba(2, 90, 130, 1) 100%
  );
}
.navbar-toggler {
  border-color: #fff !important;
}

.navbar-brand {
  color: #9ae2ff !important;
  font-weight: 500 !important;
}
.navbar-brand img {
  width: 50px;
  margin-right: 10px;
}

.language img {
  width: 26px;
}

.nav-item {
  font-size: 20px;
}
.nav-link:hover {
  color: #002742 !important;
}

@media (min-width: 992px) {
  .nav-item {
    border: 1px solid #fff !important;
    border-radius: 30px;
    font-size: 15px;
  }
  .nav-item:last-child {
    border: none !important;
  }
  .nav-item:not(:last-child):hover {
    border: 1px solid #002742 !important;
    border-radius: 30px;
    transition: 200ms ease-in;
  }
}

.navbar-toggler {
  border: none !important;
  font-size: 30px !important;
}
@media (max-width: 768px) {
  .navbar-toggler {
    font-size: 25px !important;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

/* Introsection */
.introsection {
  height: 86vh;
  width: 100%;
  background-image: url("./assets/imgs/introsection/cardiology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.myBtn {
  color: #fff;
  border: 1px solid #fff;
}
.myBtn:hover {
  color: #002742 !important;
  border: 1px solid #002742 !important;
  transition: 200ms ease-in;
}
/* whatClientsSay */
.whatClientsSay {
  background-color: #f5f6fa;
  padding: 70px 40px 100px;
}
.whatClientsSay h2 {
  font-size: 42px;
}
.whatClientsSay .mySwiper {
  background-color: #fff;
  border-radius: 20px;
  padding: 60px;
}
/* Videos-section */
.videos-section h2 {
  font-size: 42px;
}
.videos-section .card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.videos-section .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.mySwiper {
  padding-bottom: 50px !important;
}
.videos-section .card-text {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
/* Diseases-section  */
.diseases-section h2 {
  font-size: 42px;
}
.line {
  border: 1px solid #00548b;
  width: 100px;
  margin: auto;
  margin-top: 20px;
}
.diseases-section .card {
  border-radius: 20prgb (8, 8, 8);
  height: 370px;
  background-color: #f5f6fa;
  border: none;
}
.diseases-section .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-text a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  border-top: 1px solid #e4e4e4;
}
.logo-footer {
  width: 45px;
  margin-right: 8px;
  color: #58b0fe !important;
  font-weight: 500 !important;
}
.logo-footer img {
  width: 50px;
  margin-right: 10px;
}
.bold-text {
  font-weight: bold;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.info-row a {
  text-decoration: none;
  color: #000;
}
.footer a:hover {
  text-decoration: underline;
  transition: 0.3ms;
}
.info-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.icon {
  color: #00365a;
}
.footer .copyrighter-row {
  margin-top: 90px;
  margin-bottom: 20px;
}

.text-bold {
  font-weight: 800 !important;
}
/* aboutme-section */
.myNavbar {
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 53, 82, 1) 0%,
    rgba(2, 90, 130, 1) 100%
  );
}
.aboutme-section {
  background-color: #f5f6fa;
  padding: 100px 0;
}
.doctorImg-container {
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 30px;
}
.doctorImg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.color-blue {
  color: #00365a;
}
.font-weight-bold {
  font-weight: 500;
}
.info-rows-container span {
  background-color: #00365a;
  color: #fff;
  border-radius: 45%;
  padding: 2px 5px;
  font-size: 12px;
  margin-right: 10px;
}

/* diseases-page */
.diseases-page {
  background-color: #f5f6fa;
  padding: 100px 0;
}
.diseases-page .card {
  border: none;
  border-radius: 30px;
}
.diseases-page .card-head {
  height: 300px;
}
.diseases-page .card-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* atMedia-page */
.atMedia-page {
  background-color: #f5f6fa;
  padding: 100px 0;
}
.atMedia-page .card {
  border: none;
  border-radius: 30px;
}
.atMedia-page .card-head {
  height: 300px;
}
.atMedia-page .card-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* aboutDisease-section */
.aboutDisease-section {
  background-color: #f5f6fa;
  padding: 100px 0;
}

.nav-text {
  font-size: 13px !important;
}
.aboutDisease-section .article-image {
  border-radius: 30px;
  width: 90%;
  height: 430px;
  object-fit: cover;
}
.aboutDisease-section .article-text {
  line-height: 35px;
  padding-left: 90px;
  padding-right: 90px;
}
@media (max-width: 768px) {
  .aboutDisease-section .article-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.aboutDisease-section .article-text p {
  margin-bottom: 35px;
}
.aboutDisease-section span {
  display: inline-block;
  margin-bottom: 15px;
}
.aboutDisease-section .card {
  background-color: transparent;
}
.aboutDisease-section .cards-container .card-img-top {
  height: 200px;
  object-fit: cover;
}
/* contact-section */
.contact-section {
  padding: 100px 0;
  background-color: #f5f6fa;
}
.contact-section .myIframe {
  border-radius: 20px;
  box-shadow: 4px 34px 60px -30px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 4px 34px 60px -30px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 4px 34px 60px -30px rgba(0, 0, 0, 0.28);
}
.bg-blue {
  background-color: #00365a;
}

.contact-section .myForm input:not([type="checkbox"]),
textarea {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  background-color: #efeff2;
  padding: 7px 15px;
  font-size: 15px;
}
input::placeholder,
textarea::placeholder {
  color: #a0a0a0;
}
/* services-page */
.services-page {
  padding: 100px 0;
  background-color: #f5f6fa;
}
.services-page .card {
  border: none;
  border-radius: 30px;
}
.services-page .card-head {
  height: 300px;
}
.services-page .card-head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
